<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dreamindream.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28"/>

    <queries>
        <package android:name="com.google.android.gms" />
        <package android:name="com.android.vending" />

        <package android:name="com.instagram.android" />
        <package android:name="com.facebook.katana" />
        <package android:name="com.kakao.talk" />
        <package android:name="com.whatsapp" />

        <intent>
            <action android:name="android.speech.RecognitionService" />
        </intent>
    </queries>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:label="D.I.D"
        android:icon="@mipmap/starcloud"
        android:roundIcon="@mipmap/starcloud"
        android:supportsRtl="true"
        android:theme="@style/Theme.DreaminDream"
        android:localeConfig="@xml/locales_config">

        <activity
            android:name="com.dreamindream.app.FeedbackActivity"
            android:exported="false"
            android:theme="@style/Theme.Material3.DayNight.NoActionBar" />

        <activity
            android:name="com.dreamindream.app.TermsActivity"
            android:exported="false"
            android:theme="@style/Theme.Material3.DayNight.NoActionBar" />

        <activity
            android:name="com.dreamindream.app.MainActivity"
            android:launchMode="singleTop"
            android:exported="true"
            android:windowSoftInputMode="adjustResize|stateUnspecified">

            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="https"
                    android:host="dreamindream.app"
                    android:pathPrefix="/__/auth/action" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.community.CommunityActivity"
            android:exported="false"
            android:theme="@style/Theme.DreaminDream"
            android:windowSoftInputMode="adjustResize|stateUnspecified" />

        <activity
            android:name="com.dreamindream.app.SplashActivity"
            android:theme="@style/Theme.DreaminDream.TransparentFullScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.dreamindream.app.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <property
            android:name="android.adservices.AD_SERVICES_CONFIG"
            android:resource="@xml/gma_ad_services_config"
            tools:replace="android:resource" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-4715784452595618~8460298731" />

    </application>

</manifest>